body{
    font-family: "Irish Grover", system-ui;
    margin:0 15%;
    color:#073b4c;
}

.icon{
    display:none;
}
.main-background{
    background-color: #118ab2;

}

div::after, .main::after{
    content: "";
    display: block;
    clear:both;
}

h1{
    font-size: 3em;
    
}

h1+p{
    font-size: 1.8em;
}

header i{
    font-size: 1.5em;
    color: #fdf0d5;
    padding:1%;
}
.about-me{
    text-align: center;
}

.main{
    margin: 0;
    background: #ffd166;
    padding: 4em 2em;
    position: relative; /* Ensure position for absolute children */
    overflow: hidden;
    
}

.main div:not(:first-child):not(:last-child){
    /* background: #06d6a0; */
    padding: 0 2%;
}

a:hover{
    font-size: 1.1em;
}

li{
    list-style: none;
    margin: 2% 0;
    padding: 3% 0;

   
}


 span{
    padding-top:.8%;
    padding-right:.85%;
    position:absolute;
    right: 21%;
    color:#fdf0d5;
    
}

header, main{
    display:flex;
    justify-content:space-around;
    flex: 1;

}






header{
    padding:4em 2em;
}

header>img{
    max-width:13em;
    max-height: fit-content;
    border-radius: 5%;

}


.main section{
    margin:10% 0;
    padding:8%;
    /* border: 10px solid #06d6a0; */
    border-radius: 8%;
    font-weight: bold;

}



.second-col{
    margin-top: 10%;
}


.third-col{
    margin-top: 20%;
}

.third-col section{
    text-align: center;
}

#contact{
    text-align: start;
}


img{
    max-width:7.5em;
    /* border-radius: 10%; */
}

.background, .fun-extras, .interests, .skills, .contact{
    color:#073b4c;
    background-image:url(src/background.avif);
    background-color: #de9eae;
    background-blend-mode: lighten;
}

.fun-extras{
    background-image:url(src/contacts.avif);
    background-color: #f3acbe;

}

.skills{
    background-image:url(src/interests.avif);
    background-size: cover;
    
}

.interests{
    background-image:url(src/skills.avif);
  
}

.contact{
    background-image:url(src/contacts.jpg)
}


.custom-shape-divider-top-1741917952 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1741917952 svg {
    position: relative;
    display: block;
    width: calc(234% + 1.3px);
    height: 167px;
}

.custom-shape-divider-top-1741917952 .shape-fill {
    fill: #118ab2;
}

.custom-shape-divider-bottom-1741850970 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1741850970 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 181px;
}

.custom-shape-divider-bottom-1741850970 .shape-fill {
    fill: #118ab2;
}

@media (max-width: 950px){
    body{
        margin:0;
    }
    header{
        flex-wrap:wrap;
    }
    header > ul{
        display:none;
    }

    .main{
        flex-direction: column;
        
    }

    .main div:not(:first-child):not(:last-child){
        display:flex;
        flex-direction: row;
        align-items: center;

    }

    .main section{
        margin: 2%;
    }

    .icon{
        display:block;
        font-size: 2em;
        color:#fdf0d5;
        position: absolute;
        left: 0;
        top: 0;
        padding:3% 0% 0% 5%;
        z-index: 3;
        margin-bottom:1%
    }

    .icon:hover{
        font-size: 2.1em;
    }
    .topnav.responsive{
        display: block;
        position: absolute;
        z-index: 2;
        left: 9%;
        top: 6%;
        margin-left: 2%;
        margin-top: 3%;

    }

    .topnav img{
        max-width: 8em;
    }

    .topnav span{
        margin: 6% 0
    }
    


}

@media (max-width:730px){
    .main div:not(:first-child):not(:last-child){
        display:flex;
        flex-direction: column;
        align-items: center;

    }

    img{
        max-width:50%;
        /* border-radius: 10%; */
    }

    .second-col{
        margin-top: 0%;
    }
    
    
    .third-col{
        margin-top: 0%;
    }

    .icon{
        padding:5% 0% 0% 12%;
    }



}