body{
    font-family: "Irish Grover", system-ui;
    margin:0 15%;
    color:#073b4c;
}

.main-background{
    background-color: #06d6a0;

}

div::after, .main::after{
    content: "";
    display: block;
    clear:both;
}

h1{
    font-size: 3em;
    
}

h1+p{
    font-size: 1.8em;
}

header i{
    font-size: 1.5em;
    color: #fdf0d5;
    padding:1%;
}
.about-me{
    text-align: center;
}

.main{
    background: #ffd166;
    padding: 4em 2em;
    position: relative; /* Ensure position for absolute children */
    overflow: hidden;
    
}

.main div:not(:first-child):not(:last-child){
    /* background: #06d6a0; */
    padding: 0 2%;
}

li{
    list-style: none;
    margin: 2% 0;
    padding: 3% 0;

   
}


 span{
    padding-top:.8%;
    padding-right:.85%;
    position:absolute;
    right: 21%;
    color:#fdf0d5;
    
}

header, main{
    display:flex;
    justify-content:space-around;
    flex: 1;

}






header{
    padding:4em 2em;
}

header>img{
    max-width:12em;
    max-height: fit-content;
    border-radius: 5%;

}


.main section{
    margin:10% 0;
    padding:8%;
    /* border: 10px solid #06d6a0; */
    border-radius: 8%;
    font-weight: bold;

}



.second-col{
    margin-top: 10%;
}


.third-col{
    margin-top: 20%;
    text-align: center;
}

.third-col section{
    text-align: start
}


img{
    max-width:8.5em;
    /* border-radius: 10%; */
}

.background, .fun-extras, .interests, .skills, .contact{
    color:#073b4c;
    background-image:url(background.avif);
    background-color: #de9eae;
    background-blend-mode: lighten;
}

.fun-extras{
    background-image:url(contacts.avif);
    background-color: #f3acbe;

}

.skills{
    background-image:url(interests.avif);
    background-size: cover;
    
}

.interests{
    background-image:url(skills.avif);
  
}

.contact{
    background-image:url(contacts.jpg)
}


.custom-shape-divider-top-1741850489 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1741850489 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 173px;
}

.custom-shape-divider-top-1741850489 .shape-fill {
    fill: #06d6a0;
}

.custom-shape-divider-bottom-1741850970 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1741850970 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 181px;
}

.custom-shape-divider-bottom-1741850970 .shape-fill {
    fill: #06d6a0;
}

/* @media (min-width: 1496px){
    span{
        right:10%;
    }

} */