body{
    font-family: "Irish Grover", system-ui;
    margin:0 15%;
    color:#01232e;
}

div::after, .main::after{
    content: "";
    display: block;
    clear:both;
}

h1{
    font-size: 3em;
    
}

h1+p{
    font-size: 1.8em;
}
.about-me{
    text-align: center;
}
div{
    background: #06d6a0;
    padding: 3%;
}

li{
    list-style: none;
    margin: 2% 0;
    padding: 3% 0;

   
}

a{
    min-width: 100%;
}

 span{
    padding-top:.8%;
    position:absolute;
    right: 21%;
    color:#fdf0d5;
    max-width: 100%;
}

header, main{
    display:flex;
    justify-content:space-around;
    flex: 1;
}






header{
    padding-top:4em;
}

header>img{
    max-width:12em;
    max-height: fit-content;
    border-radius: 5%;

}


main section{
    padding:7%;
    border: 5px solid #06d6a0;
    border-radius: 4%;
    font-weight: bold;

}



.second-col{
    padding-top: 10%;
}


.third-col{
    padding-top: 20%;
    text-align: center;
}

.third-col section{
    text-align: start
}
img{
    max-width:7em;
    border-radius: 10%;
}

.background, .fun-extras, .interests, .skills, .contact{
    color:#01232e;
    background-image:url(background.avif);
    background-color: #de9eae;
    background-blend-mode: lighten;
}

.fun-extras{
    background-image:url(contacts.avif);
    background-color: #f3acbe;

}

.skills{
    background-image:url(interests.avif);
    background-size: cover;
    
}

.interests{
    background-image:url(skills.avif);
  
}

.contact{
    background-image:url(contacts.jpg)
}

